body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0c1443, #2b2e6e);
    color: #ffffff;
}

form {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    background: rgba(33, 33, 33, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.column {
    width: 48%;
}

.wide-column {
    width: 100%;
}

/* Style for the history button */
.history-button {
	position: relative;
	display: flex;
	align-items: center;
    justify-content: space-around;
	right: 0;
    background-color: slategrey;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*max-width: 30px;
    max-height: 30px;*/
}
.history-button img {
    width: auto;
    height: auto;
	max-width: 25px;
	max-height: 25px;
}
.history-button:hover {
    background-color: #555;
}
/* Style for the submit button */
.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
	border-radius: 5px;
    cursor: pointer;
    width: 100%;
	margin-right: 20px;
	align-items: center;
    justify-content: space-around;
}
/* Style for the container of both buttons */
.button-container {
    display: flex;
	flex-grow: 1;
    justify-content: space-between;
    margin-top: 15px;
}
/* Style for the buttons inside the container */
.button-container button {
	display: flex;
	/*height: 30px;	/* Adjust the width of buttons as needed */
	margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    transition: border-color 0.3s;
}

textarea {
    width: 100%;
    height: 255px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    transition: border-color 0.3s;
    resize: none;
}

/* Orange border for all required fields that are empty */
input:required:invalid, textarea:required:invalid, select:required:invalid {
    border-color: orange;
}
/* Red border for all required fields that are invalid */
input:invalid, textarea:invalid, select:invalid {
    border-color: red;
}
/* Green border for all required fields that are valid */
input:required:valid, textarea:required:valid, select:required:valid {
    border-color: green;
}
/* something-something */
input:valid, textarea:valid, select:valid {
    border-color: green;
}

.checkbox-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#subscribe {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

#subscribe:checked + .custom-checkbox::after {
    content: '✔';
    color: #4CAF50;
    font-size: 16px;
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (min-width: 480px) {
    .column {
        width: 48%;
    }
}

@media (max-width: 480px) {
    input, select, textarea {
        width: 100%;
    }
}