body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #0c1443, #2b2e6e);
    color: #ffffff;
    overflow: clip; /* Prevent stars from causing horizontal scrollbar */
    
}

#starField {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    opacity: 0;
    animation: fadeInOut 6s linear infinite; /* Adjust duration */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

form {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    background: rgba(33, 33, 33, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}



legend {
    position: absolute;
	top: -5%;
    left: 50%; /* Center the legend horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    font-weight: bold;
    margin-bottom: 15px;
}


.column {
    width: 48%;
}

.wide-column {
    width: 100%;
}

/* Add styles for the form container */
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	flex-grow: 1;
}

/* Update styles for the wide-column to take full width on top */
.wide-column {
    width: 100%;
    margin-bottom: 15px; /* Add margin to create space between wide-column and buttons */
}

/* Update styles for the checkbox-container to be on top */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0; /* Add margin to create space between checkbox-container and buttons */
}

/* Add styles for the button-container to take full width */
.button-container {
    width: 100%;
	heights: 100%;
    display: flex;
	margin-top: 10px;
	max-heights: 30 px;
    justify-content: space-between;
}

/* Add these styles for the custom checkbox */
.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:after {
    content: '';
    width: 10px;
    height: 5px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0;
}

.checkbox-container input:checked + .custom-checkbox:after {
    opacity: 1;
}

.checkbox-label {
	cursor: pointer;
    color: #fff;
    margin-left: 5px; /* Adjust as needed for spacing */
}

/* Adjust these styles as needed */
.checkbox-container input {
    position: absolute;
    left: -9999px;
}

/* Other styles for buttons */
.submit-button {
	font-family: auto;
	font-size: 20px;
	font-variant-caps: petite-caps;
    background-color: #4CAF50;
    color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-right: 20px;
    flex-grow: 1; /* Allow buttons to take full width */
}
.submit-button:hover{
	background-color: #7AC778;
}

.history-button {
	padding: 6px; /* Adjust the top and bottom padding */
    height: 40px;
	width: 40px;	/* Adjust the height */
    background-color: #3A8BCD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	align-items: center;
}
.history-button:hover{
	background-color: #80B8E1;
}

.history-button img {
    width: 30px; /* Adjust the width */
    height: 30px; /* Adjust the height */
    max-width: none; /* Remove any maximum width constraint */
    max-height: none; /* Remove any maximum height constraint */
	align-items: center;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    transition: border-color 0.3s;
}

textarea {
    width: 100%;
    height: 255px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    transition: border-color 0.3s;
    resize: none;
}

/* Orange border for all required fields that are empty */
input:required:invalid, textarea:required:invalid, select:required:invalid {
    border-color: orange;
}
/* Red border for all required fields that are invalid */
input:invalid, textarea:invalid, select:invalid {
    border-color: red;
}
/* Green border for all required fields that are valid */
input:required:valid, textarea:required:valid, select:required:valid {
    border-color: green;
}
/* something-something */
input:valid, textarea:valid, select:valid {
    border-color: green;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(20px); /* Apply blur effect */
  z-index: 999; /* Ensure the backdrop is behind the modal */
  box-shadow: 0 0 20px 5px #4CAF50; /* glowing effect */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#historySection {
  display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure the backdrop is behind the modal */
}

.custom-modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333333; /* Lighter coal color */
    border: none;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.5); /* Red glowing effect */
    z-index: 1000;
    text-align: center;
    color: #fff; /* Set text color to white for better readability */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.custom-modal p {
    margin-bottom: 20px;
}

#timeContainer {
	position: absolute;
	top: 100%;
    left: 50%; /* Center the legend horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    font-weight: bold;
    margin-bottom: 15px;
}

.error-message {
	position: relative;
	top: 105%;
    left: 50%; /* Center the legend horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    color: red;
    font-size: 12px;       
    margin-top: 15px;
    padding: 10px;        
    border: none;
	background: rgba(33, 33, 33, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    display: none; /* Initially hide the error message */
}

@media (min-width: 480px) {
    .column {
        width: 48%;
    }
}

@media (max-width: 480px) {
    input, select, textarea {
        width: 100%;
    }
}